<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Update User</title>
</head>
<body>
<div class="container" layout:fragment="main_content">

    <div class="row mt-5">
        <div class="col-10 h3">Update User</div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <form th:object="${form}" th:action="@{'/gw/admin/users/'+${id}}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div th:class="${#fields.hasErrors('name') ? 'form-group has-danger' : 'form-group'}">
                    <label th:for="name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="form-control-danger" required="required" placeholder="2-30字符" />
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div th:class="${#fields.hasErrors('email') ? 'form-group has-danger' : 'form-group'}">
                    <label th:for="email" class="col-form-label">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" th:errorclass="form-control-danger" placeholder="最多30个字符" />
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div th:class="${#fields.hasErrors('role') ? 'form-group has-danger' : 'form-group'}">
                    <div class="col-form-label">Role</div>
                    <label class="custom-control custom-radio" th:each="role : ${T(com.sos919.commons.security.Role).values()}">
                        <input type="radio" class="custom-control-input" th:field="*{role}" th:value="${role}" />
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" th:text="${role}"></span>
                    </label>
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                </div>
                <div class="form-group">
                    <div class="col-form-label">Enable/Disable</div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" th:field="*{disabled}" />Check on to disable this user!
                        </label>
                    </div>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <a class="btn btn-secondary btn-block" th:href="@{/gw/admin/users}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>

