<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>修改密码</title>
</head>
<body>
<div class="container" layout:fragment="main_content">

    <div class="row mt-5">
        <div class="col-10 h3">修改密码</div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <form th:object="${form}" th:action="@{'/gw/site/users/password'(redirect=${redirect})}" method="post">
                <input type="hidden" th:field="*{userId}" />
                <input type="hidden" th:field="*{name}" />
                <input type="hidden" th:field="*{cell}" />
                <input type="hidden" th:field="*{username}" />
                <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
					<div th:each="err : ${#fields.globalErrors()}" th:text="${err}">[errors]</div>
				</div>
                <div class="form-group">
                    <label><strong th:text="${'账号：'+form.username}"></strong></label><br/>
                    <label th:text="${'姓名：'+form.name}"></label><br/>
                    <label th:text="${'电话：'+form.cell}"></label>
                </div>
                <div th:class="${#fields.hasErrors('oldPassword') ? 'form-group has-danger' : 'form-group'}">
                    <label th:for="oldPassword" class="col-form-label">旧密码</label>
                    <input type="password" class="form-control" th:field="*{oldPassword}" th:errorclass="form-control-danger" required="required" placeholder="不能为空且必须为6-30个字符" />
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                </div>
                <div th:class="${#fields.hasErrors('password') ? 'form-group has-danger' : 'form-group'}">
                    <label th:for="password" class="col-form-label">新密码</label>
                    <input type="password" class="form-control" name="password" th:errorclass="form-control-danger" placeholder="不能为空且必须为6-30个字符" />
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <div th:class="${#fields.hasErrors('password') ? 'form-group has-danger' : 'form-group'}">
                    <label th:for="password" class="col-form-label">确认密码</label>
                    <input type="password" class="form-control" name="password2" th:errorclass="form-control-danger" placeholder="两次密码必须一致" />
                    <div class="form-control-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
                </div>

                <div class="alert alert-success" role="alert" th:if="${successMsg!=null}">
                    <strong th:text="${successMsg}">Well done!</strong>
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn btn-primary btn-block">修改</button>
                    <a class="btn btn-secondary btn-block" th:href="${redirect}">取消</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>

